<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    {% block title %}
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="/static/css/style.css"  type="text/css"/>
    {% endblock %}


    {% block js %}
        <!-- For extra js -->
    {% endblock %}
</head>

<body>
<header>

    <div id="dynamic_name">
        <p id="head_title">
			Reporting system
        </p>
    </div>
	
    <div id="topUser">
        <ul>
            <li><a href="/admin" title="Admin">Admin</a></li>
            <li><a href="/help" title="Help"> help</a></li>
        </ul>
    </div>

    <nav id="navTop">
        <ul>
            <li><a href="{% url upload_file %}" title="Mở trình quản trị sẵn có của hệ thống">Add new report</a></li>
            <li><a href="{% url file_list %}" title="Mở danh sách upload">Report list</a></li>
        </ul>		
    </nav>
</header>

<section id="main">
    {% block main %}
        <div id="contentTop">
            {% block backward_link %}
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}
</section>

<footer>
    <p class="copyright">2011-VNU students and Hiroshi KURIHARA.  <a href="/app/contact">contact</a></p>
</footer>

</body>
</html>

